-var listTab = ['Xe du lịch', 'Xe SUV', 'Xe thương mại', 'Limousine An Phú'];
-
  var listTravelCar = [
    {img:'grand-i10.png', name:'Grand i10'},
    {img:'grand-i10-sedan.png', name:'Grand i10 sedan'},
    {img:'elantra.png', name:'Elantra 2019'},
    {img:'Elantra-Sport.png', name:'Elantra Sport'},
    {img:'accent.png', name:'Accent'}
  ];
-
  var listSUVCar = [
    {img:'tucson.png', name:'Tucson'},
    {img:'new-santa-fe.png', name:'New Santa Fe'},
    {img:'kona.png', name:'Kona'}
  ];
-
  var listCommerceCar = [
    {img:'solati.png', name:'Solati'},
    {img:'new-porter-150.png', name:'New Porter 150'},
    {img:'starex-cuu-thuong.png', name:'Starex cứu thương'},
    {img:'starex-cho-tien.png', name:'Starex chở tiền'}
  ]
-
  var listBlog = [
    {img:'7f338b647ad5808bd9c4.jpg', content:'Roadshow tháng 05 cùng Hyundai...', time:'27/05/2020'},
    {img:'C57D07CF-47D0-4268-9BFB-A653AD5C29AC-min.jpg', content:'Chương trình gia hạn bảo hành "H...', time:'17/04/2020'},
    {img:'IMG_8281-min.jpg', content:'Khởi sắc Roadshow tháng 06 tại H...', time:'13/06/2020'},
  ]
-
  var listOutsideImage1 = [
    {img:'nb2 (1).jpg', title:'Đèn pha', content:'Cụm đèn pha chiều sáng của Grand i10 được thiết kế trang nhã, hài hòa với tổng thể của chiếc xe đồng thời đảm bảo độ sáng tối đa.'},
    {img:'nb3.jpg', title:'Cụm đèn LED ban ngày mới', content:'Cụm đèn LED chạy ban ngày mới (Daytime Running Lights) trên Grand i10 đem đến vẻ thể thao đậm nét cho chiếc xe.'},
    {img:'nb4 (1).jpg', title:'Cụm lưới tản nhiệt mới', content:'Grand i10 2017 sở hữu cụm lưới tản nhiệt mới tạo hình Thác nước, trở thành điểm nhận diện đặc trưng trong thiết kế của các mẫu xe Hyundai.'}
  ]
-
  var listOutsideImage2 = [
    {img:'nb5 (1).jpg', title:'Gương chiếu hậu tích hợp xinhan dạng LED', content:'Hyundai Grand i10 sở hữu gương điều khiển điện, tích hợp báo rẽ dạng LED mang đến vẻ hiện đại cũng như đảm bảo an toàn khi chuyển hướng cho xe.'},
    {img:'nb6 (1).jpg', title:'Ốp hông thể thao', content:'Grand i10 2017 sở hữu tấm ốp hông tăng thêm vẻ thể thao, cá tính và năng động cho xe.'},
    {img:'nb7 (1).jpg', title:'LAZANG DIAMOND CUT', content:'Grand i10 sở hữu bộ lazang hợp kim kích cỡ 14 inch Diamond cut, tạo nên vẻ cá tính và thời trang cho chiếc xe và chủ sở hữu.'}
  ]
-
  var listOutsideImage3 = [
    {img:'nb8.jpg', title:'Sấy kính sau', content:'Grand i10 sở hữu kính sau tích hợp chức năng sấy điện, giúp đảm bảo tầm nhìn phía sau cho người lái trong điều kiện trời sương mù hoặc có mưa.'},
    {img:'nb9.jpg', title:'Đèn hậu kích cỡ lớn', content:'Grand i10 sở hữu cụm đèn hậu kích cỡ lớn, được bố trí ở vị trí thuận tiện dễ quan sát, nhằm tăng độ nhận diện từ xa, giúp đảm bảo an toàn khi vận hành.'},
    {img:'nb10.jpg', title:'Cản sau thiết kế mới với 2 tông màu', content:'Grand i10 2017 được tái thiết kế cản sau với tấm nền màu đen cùng 2 tấm phản quang màu đỏ nổi bật, giúp tăng vẻ thể thao, năng động cho xe.'}
  ]
-
  var listOutsideImage4 = [
    {img:'nb15.jpg', title:'Đèn sương mù', content:'Đèn sương mù của Grand i10 được đặt thấp ở phần cản trước, giúp tăng đảm bảo ánh sáng trong điều kiện vận hành có sương mù.'},
    {img:'nb16.jpg', title:'Hốc hút gió trước', content:'Hốc hút gió phía trước nhằm giảm đáng kể sức cản của gió đồng thời giảm nhiệt la-zăng, lốp, giúp tăng cường khả năng vận hành ổn định và an toàn.'},
    {img:'nb17.jpg', title:'Tay nắm cửa mạ Crom', content:'Tay nắm cửa mạ Crom trên Grand i10 tạo nên vẻ lịch lãm, sang trọng cho chiếc xe.'},
    {img:'nb11.jpg', title:'Tấm phản quang phía sau', content:'Tấm phản quang đuôi xe được thiết kế mới, kết hợp cùng cản sau màu đen tạo nên vẻ nổi bật và mạnh mẽ cho Grand i10'},
    {img:'nb12.jpg', title:'Gạt mưa kính sau', content:'Grand i10 được trang bị gạt mưa ở kính sau, giúp làm sạch tấm kính tăng khả năng quan sát của lái xe.'},
    {img:'nb13.jpg', title:'Đèn phanh trên cao', content:'Xe được trang bị đèn phanh trên cao dạng LED, giúp nhanh chóng cảnh báo cho phương tiện phía sau biết khi bạn thực hiện phanh, dừng trong khi lưu thông.'}
  ]
